.footer-container {
    background-color: #242424;
    color: white;
    height: fit-content;
    padding-top: 50px;
}

.footer-subscription {
    text-align: center;
}

.footer-subscription-heading {
    font-size: 2rem;
    margin: 10px 20px;
}

.footer-subscription-text {
    font-size: 1rem;
}

.input-areas {
    width: 70%;
    max-width: 400px;
    margin: 20px auto 80px;
}

.input-areas form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-input, .input-areas form button {
    width: 100%;
}

.footer-input {
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px 0;
}

.footer-copyright {
    text-align: right;
    padding: 0 20px 10px 0;
    font-size: 1.2rem;
}