.hamburger-icon {
  font-size: 1.8rem;
  cursor: pointer;
  width: 25px;
  height: fit-content;
}

.hamburger-line {
  background-color: white;
  width: 100%;
  height: 3px;
  transition: all 0.3s;
}
.hamburger-line.line-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hamburger-icon.active .line-1 {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-icon.active .line-2 {
  opacity: 0;
}
.hamburger-icon.active .line-3 {
  transform: translateY(-8px) rotate(-45deg);
}